/* FifthSection.module.css */

.fifthSet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: 0;
  margin-top: -80px;
}

.fifthLeft {
  flex: 1;
  max-width: 600px;
  margin-left: 280px;
}

.fifthSubtitle {
  color: #1b64da;
  font-size: 20px;
  font-weight: 450;
  margin-bottom: -20px;
}

.fifthLeft h2 {
  font-size: 40px;
  font-weight: 600;
  color: #373535;
  margin-bottom: 20px;
  line-height: 1.4;
}

.fifthText {
  font-size: 22px;
  font-weight: 500;
  color: #909090;
  line-height: 1.6;
}

.fifthImage {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 150px;
}

.sendMoney {
  max-width: 100%;
  width: 700px;
  height: auto;
  border-radius: 20px;
}
