/* SecondSection.module.css */

.secondSection {
  min-height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  background-color: #fafafa;
  padding: 40px 20px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.6;
  color: #000;
}

.secondSection p {
  margin: 0;
}
